/***************
    media query for tablets 
 **************/

 @media screen and (max-width:1200px) {
    .container {
      width: 94%;
      grid-template-columns: 9rem auto 14rem;
    }
  
    aside .sidebar h3 {
      display: none;
    }
  
    aside .sidebar a:last-child {
      position: relative;
      margin-top: 1.8rem;
  
    }
  
    main .data-insights {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    
  }
  
  /* media query for phones */
  
  @media screen and (max-width:768px) {
  
    .container {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
  
    }
  
    aside {
      position: fixed;
      width: 18rem;
      z-index: 3;
  
      background-color: var(--clr-white);
      display: none;
      left: -110px;
      animation: menuLeft 1s ease forwards;
    }
  
    @keyframes menuLeft {
      to {
        left: 0;
      }
    }
  
  
  
  
    aside .logo h2 {
      display: inline;
      margin-left: 15px;   }
  
    aside .sidebar h3 {
      display: inline;
    }
  
    aside .sidebar a {
      width: 100%;
      height: 3.4rem;
    }
  
    aside .top div.close span {
      display: inline;
      position: absolute;
      right: 0;
      margin-right: 30px;
      font-size: 35px;
      cursor: pointer;
    }
  
    .rightSection .top {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.8rem;
      background: var(--clr-white);
      height: 4.6rem;
      width: 100%;
      z-index: 2;
      box-shadow: 0 1rem 1rem var(--clr-light);
      margin: 0;
    }
  
  
    main .data-insights {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.6rem;
      padding: 40px;
    }
  
    main .recent_orders {
      padding: 30px;
      margin: 0 auto;
    }
  
  
  
    .right .profile {
      position: absolute;
      left: 70%;
    }
  
    .right .top .theme_toggler {
      width: 4.4rem;
      position: absolute;
      left: 50%;
    }
  
    .right .profile .info {
      display: none;
    }
  
    .rightSection .top button {
      display: inline-block;
      background: transparent;
      cursor: pointer;
      color: var(--clr-dark);
      position: absolute;
      left: 1rem;
  
    }
  
    .rightSection .recent_orders {
      padding: 0 30px;
    }
  
    .rightSection .recent_updates {
      padding: 0 40px;
    }
  
    .rightSection .sales_analysis {
      padding: 0 40px;
    }
  
    .rightSection .add_products {
      padding: 0 40px;
      margin-bottom: 40px;
    }
  
  }