@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,600&display=swap');

/*** variables***/

:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);

}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light)
}

/* default setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
  appearance: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: .7rem;
  user-select: none;
  overflow-x: hidden;
  background: var(--clr-color-background);
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  width: 96%;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 16rem;
  margin: 0 auto;
}

a {
  color: var(--clr-dark);
}

h1 {
  font-weight: 800;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87;
}

h4 {
  font-weight: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-pic img {
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
  border-radius: 50%;
}

.text-muted {
  color: var(--clr-info-dark);
}

p {
  color: var(--clr-dark-variant);
}

b {
  color: var(--clr-dark);
}

.primary {
  color: var(--clr-primary);
}

.success {
  color: var(--clr-success);
}

.danger {
  color: var(--clr-danger);
}

.warning {
  color: var(--clr-warning);
}

/* aside section */

aside {
  height: 100vh;
}

aside .top {
  background: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 1rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

aside .top .close span {
  display: none;
}

/*****sidebar*****/

aside .sidebar {
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 1rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--clr-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.3rem;
  transition: all .1s ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all .3s ease-in-out;

}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

aside .sidebar a.active {
  background-color: var(--clr-light);
  color: var(--clr-primary);
  margin-left: 0;
  border-left: 5px solid var(--clr-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar a span.msg_count {
  background-color: var(--clr-danger);
  color: var(--clr-white);
  padding: 2px 5px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/***** ------Main Section------ *****/

main {
  margin-top: 1.4rem;
  width: auto;
}

main input {
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--clr-dark);
}

main .date {
  display: inline-block;
  background-color: var(--clr-white);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .data-insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .data-insights>div {
  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

main .data-insights>div:hover {
  box-shadow: none;
}

main .data-insights>div span {
  background-color: rgb(227, 103, 58);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--clr-white);
  font-size: 2rem;
}

main .data-insights>div.expenses span {
  background-color: var(--clr-danger);
}

main .data-insights>div.Profit span {
  background-color: var(--clr-success);
}

main .data-insights>div .mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .data-insights>div .mid h1 {
  font-size: 1.6rem;
}

main h1 {
  color: var(--clr-dark);
}

main .data-insights h1 {
  color: var(--clr-dark);
}

main .data-insights h3 {
  color: var(--clr-dark);
}

main .data-insights p {
  color: var(--clr-dark);
}

main .data-insights .progress {
  position: relative;
  height: 67px;
  width: 67px;
  border-radius: 51px;
}

main .data-insights svg {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
}

main .data-insights svg circle {
  fill: none;
  stroke: var(--clr-primary);
  transform: rotate(270, 80, 80);
  stroke-width: 5px;

}

main .data-insights .sales svg circle {
  stroke-dashoffset: 10;
  stroke-dasharray: 150;
}

main .data-insights .expenses svg circle {
  stroke-dashoffset: 0;
  stroke-dasharray: 100;
}

main .data-insights .Profit svg circle {
  stroke: var(--clr-success);
}

main .data-insights .progress .percentage {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .recent_orders {
  margin-top: 1rem;
}

main .recent_orders h2 {
  color: var(--clr-dark);
}

main .recent_orders table {
  background-color: var(--clr-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
  color: var(--clr-dark);
  
}

main .recent_orders table:hover {
  box-shadow: none;
}
main table thead th{
    font-size: 1rem;
}

main table tbody td {
  height: 3.8rem;
  border-bottom: 1px solid var(--clr-white);
  color: var(--clr-dark-variant);
  font-size: 0.7rem;

}

main table tbody tr:last-child td {
  border: none;
}

main .recent_order a {
  text-align: center;
  display: block;
  margin: 1rem;
}

/******== starting Right section styling ==*******/

.rightSection {
  margin-top: 1.4rem;
}

.rightSection h2 {
  color: var(--clr-dark);
}

.rightSection .top {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

.rightSection .top button {
  display: none;
}

.rightSection .theme_toggler {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-1);
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;


}

.rightSection .theme_toggler span.active {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.rightSection .theme_toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSection .top .profile {
  display: flex;
  gap: 2rem;
  text-align: center;

}

.rightSection .info h3 {
  color: var(--clr-dark);
}

.rightSection .item h3 {
  color: var(--clr-dark);
}

/*****-recent updates-*****/

.rightSection .recent_updates {
  margin-top: 1rem;
  margin-left: -20px;

}

.rightSection .recent_updates .updates {
  background-color: var(--clr-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow);
  transition: all .3s ease;
}

.rightSection .recent_updates .updates:hover {
  box-shadow: none;
}

.rightSection .recent_updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
}

/* sales analytics */

.rightSection .sales_analysis {
  margin-top: 2rem;
}

.rightSection .sales_analysis .item {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1;
  margin: 10px 0;
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
}

.rightSection .sales_analysis .item:hover {
  box-shadow: none;
}

.rightSection .sales_analysis .item .icon {
  background-color: coral;
  padding: 0.6rem;
  color: var(--clr-white);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  align-items: center;
}

.rightSection .sales_analysis .item:nth-child(3) .icon {
  background-color: var(--clr-success);
}

.rightSection .sales_analysis .item:nth-child(4) .icon {
  background-color: var(--clr-danger);
}

.add_products div {
  display: flex;
  height: 60px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px dashed;
  color: var(--clr-dark-variant);
  margin-bottom: 40px;
}